<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>Server (Guest Mode)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,
    user-scalable=0, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
          crossorigin="anonymous">
    <style>
        .login-link {position: absolute; top: 12px; right: 10px; transform: translate(-10%, 0);}
        .fixed-heading {position: fixed; top: 0; left: 0; width: 100%; background-color: #f5f5f5;
                        padding: 12px; text-align: left; }
        .container {display: flex; overflow-x: auto; white-space: nowrap;}
        .col-3 {flex: 1; padding: 20px;}
        .col-9 {flex: 1; padding: 20px;}
        #search-history {height: 318px; font-family: Consolas, monospace;}
        #display-board {height: 452px; font-family: Consolas, monospace;}
    </style>
</head>

<body class="bg-image" style="background-image: url(https://i.postimg.cc/VsHVvVvQ/background001.jpg);
    background-repeat: no-repeat;">
    <!-- HTML Part -->
    <h3 class="fixed-heading"><font color="#808080">SOFTWARE MONITORING & MANAGEMENT SYSTEM</font></h3>
    <div class="login-link">
        <a href="http://127.0.0.1:8000/admin/">Log in</a>
    </div>
    <div class="container">
        <div class="col-3">
            <form>
                <!-- Content of the page -->
                <label for="search-history" class="h4 pt-5"><font color="white">Search History</font></label>
                <textarea class="form-control"
                          id="search-history" readonly rows="13"></textarea>

                <label for="input"></label>
                <input class="form-control"
                       placeholder="Enter client IP or any address"
                       id="input" type="text"><br> <!-- ALL = 0.0.0.0 -->

                <input class="btn btn-primary btn-lg btn-block"
                       id="submit" type="button" value="Confirm">
            </form>
        </div>
        <div class="col-9">
            <label for="display-board" class="h4 pt-5"><font color="white">Guest Mode User Interface</font>
                <font color="#4169e1"> = Login For Details = </font></label>
            <textarea class="form-control"
                      id="display-board" readonly rows="18"></textarea><br>
        </div>
    </div>

    <!-- JavaScript -->
    <script type="text/javascript">

        function handleKeyPress(event) {
            // Handle the ENTER keypress
            if (event.keyCode === 13) {
                event.preventDefault();
                document.querySelector('#submit').click();
                return false;
            }
        }

        function handleTextLength() {
            // Limit the text length to 18 characters
            if (this.value.length > 18) {
                this.value = this.value.slice(0, 18);
            }
        }

        // Deal with special input events
        document.getElementById('input').addEventListener('input', handleTextLength);
        document.getElementById('input').addEventListener('keypress', handleKeyPress);

        // Re expression for IPv4 address
        const pattern = /^((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)\.){3}(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\/(3[0-2]|[12]?\d))?$/;
        const message = document.querySelector('#input');
        const display = document.querySelector('#display-board');
        const history = document.querySelector('#search-history');

        // Handle text box and query history logic
        document.querySelector('#submit').onclick = function () {
            // Send message to the backend
            if (message.disabled === false) {
                display.value += message.value + "\n";
                // Test the IP address pattern
                if (pattern.test(message.value)) {
                    display.value += "server@uaes: Correct IPv4 address.\n";
                    display.value += "             Searching for client IP: " + message.value + "\n";
                    // Add message to the history
                    history.value += "IP: " + message.value + "\n";
                    display.value += "             Please wait a second. :)\n";
                }
                else {
                    display.value += "server@uaes: Invalid IPv4 address!\n";
                    display.value += "guests@uaes: "
                    return;
                }
                // Send input text to the backend
                querySocket.send(JSON.stringify({
                    'message': message.value,
                }));
                // Clear and disable the message input box
                message.value = "";
                message.disabled = true;
            }
        };

        // Open a websocket to the backend
        const querySocket = new WebSocket(
            `ws://${window.location.host}/web-server`
        );

        // Handle websocket connection
        querySocket.onopen = function (e) {
            display.value += "server@uaes: Connection Established.\n";
            display.value += "guests@uaes: ";
        }

        querySocket.onmessage = function (e) {
            const message = document.querySelector('#input');
            if (e.data.length === 2) {
                display.value += "server@uaes: No client on this IP!" + "\n";
                display.value += "guests@uaes: "
            }
            else {
                let str_length = e.data.length - 1
                if (str_length > 300)
                    str_length = 300
                display.value += "server@uaes: " + e.data.substring(0, str_length) + " ...\n";
                display.value += "server@uaes: Please log in and refer to the .csv file for details.\n";
                display.value += "guests@uaes: "
            }
            message.disabled = false;
        };

        querySocket.onerror = function (e) {
            display.value += "\nserver@uaes: Connection Error Occurred. Please refresh the page.\n";
            message.disabled = true;
        }

        querySocket.onclose = function (e) {
            display.value += "\nserver@uaes: Connection Closed. Please refresh the page.\n";
            message.disabled = true;
        }

    </script>

</body>

</html>
